<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OSCEFHacks</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/main.css">
    </head>

    <body>
        <header>
            <button>Settings</button>
            <h1> Welcome to Needy Nibbles!</h1>
        </header>
        <div class="container"> 
            <a href = "/templates/List.html" class="card">
                <p> Check Expiration List </p>
                <img src="/images/Checklist-Logo-Free-PNG.png"alt="Checklist Logo">
            </a>
            <a href ="/templates/Change.html" class="card">
                <p> Add to Expiration List </p>
                <img src="/images/images-removebg-preview.png" alt="Add Logo">
            </a>
            <a href ="/templates/About.html" class="card">
                <p> About us </p>
                <img src="/images/images-removebg-preview (1).png" alt="About Logo">
            </a>
        </div>
        <script src="/static/main.js" defer></script>
    </body>
</html>
