<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>List of Items</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>        
        <nav>
            <a href="/templates/index.html">Home</a>
            <a href="/templates/About.html">About us</a>
            <a href="/templates/Change.html">Adding Items</a>
            <a href ="/templates/List.html">List of Items</a>
        </nav>
        <div class="container">
            <h1>List of Items</h1>
             <ul id="product-list"></ul>
        </div>
        <br>
        <div class="container">
            <button onclick="clearList()">Clear List</button>
        <script src="/static/main.js" defer></script>
    </body>
</html>