<!DOCTYPE html>
<html>
<head>
<title>About Us</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/main.css">
<script>
    // Apply dark mode immediately to prevent flash
    if (localStorage.getItem('theme') === 'dark') {
        document.body.classList.add('dark-theme');
    }
</script>
</head>

<body class="about-page">
    <a href="index.html">
        <img src="/images/Needy Nibbles Logo (Transparent) (1) (2).png" class="menu-logo" alt="Logo">
    </a>

  <!-- Jayden card -->
  <div class="creator-card">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS0GmKr35UppOsGNU150GyPqxQKeilqoENYLhEY-oxqFouCJzFZ" class="creator-photo" alt="Jayden">
   
    <h2 class="creator-name">Jayden Barrera</h2>
   
    <p class="creator-info">
      Westminster <br>
      High School<br>
      &emsp;Class of 2027<br>
      &emsp;&emsp;&emsp;MERITS<br>
      &emsp;&emsp;&emsp;Cyber Patriots
    </p>
  </div>


 
  <!-- Kevin card -->
  <div class="creator-card">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS0GmKr35UppOsGNU150GyPqxQKeilqoENYLhEY-oxqFouCJzFZ" class="creator-photo" alt="Kevin">
   
    <h2 class="creator-name">Kevin On</h2>
   
    <p class="creator-info">
      Westminster <br>
      High School<br>
      &emsp;Class of 2027<br>
      &emsp;&emsp;&emsp;First Robotics Club<br>
      &emsp;&emsp;&emsp;Cyber Patriots
    </p>
  </div>




  <!-- Tam card -->
  <div class="creator-card">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS0GmKr35UppOsGNU150GyPqxQKeilqoENYLhEY-oxqFouCJzFZ" class="creator-photo" alt="Tam">
   
    <h2 class="creator-name">Tam Tu</h2>
   
    <p class="creator-info">
      Westminster<br>
      High School<br>
      &emsp;Class of 2028<br>
      &emsp;&emsp;&emsp;MERITS<br>
      &emsp;&emsp;&emsp;VDLI
    </p>
  </div>
 
  <!-- Anabelle card -->
  <div class="creator-card">
    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS0GmKr35UppOsGNU150GyPqxQKeilqoENYLhEY-oxqFouCJzFZ" class="creator-photo" alt="Anabelle">
   
    <h2 class="creator-name">Anabelle Vo</h2>
   
    <p class="creator-info">
      Westminster <br>
      High School<br>
      &emsp; Class of 2028<br>
      &emsp;&emsp;&emsp; MERITS<br>
      &emsp;&emsp;&emsp; AVID
    </p>
  </div>

  <script src="/static/main.js" defer></script>
</body>
</html>



